/*
=================================================
Global Styles
=================================================
*/
:root{
  --Orange: hsl(25, 97%, 53%);
  --White: hsl(0, 0%, 100%);
  --LightGrey: hsl(217, 12%, 63%);
  --MediumGrey: hsl(216, 12%, 54%);
  --DarkBlue: hsl(213, 19%, 18%);
  --VeryDarkBlue: hsl(216, 12%, 8%);
  --AlphaBlue:hsla(216, 12%, 8%, 0.3)
}
html{
  font-size: 15px;
}
body{
  background-color: var(--VeryDarkBlue);
  font-family: 'Overpass', sans-serif;
}
/*
=================================================
main section Styles
=================================================
*/
main{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  min-height: 90vh;
  width: 100%;
}
section{
  width: 270px;
  background-color: var(--DarkBlue);
  color: var(--White);
  padding: 25px;
  border-radius: 20px;
}
p{
  color: var(--LightGrey);
  font-size: 0.9rem;
}
h2{
  margin: 10px 0;
}
/*
=================================================
Rating section Styles
=================================================
*/
.star-image{
  border-radius: 50%;
  background-color:var(--AlphaBlue);
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.rating > button{
  background-color: var(--Orange);
  color: var(--White);
  border: none;
  border-radius: 20px;
  line-height: 2.5;
  text-align: center;
  width: 100%;
  text-transform: uppercase;
}
.rating > button:hover{
  background-color: var(--White);
  color:var(--Orange) ;
  
}
.rating-btns{
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}
.rating-btns button{
  border-radius: 50%;
  padding: 12px;
  width: 40px;
  border: none;
  color: var(--White);
  background-color: var(--AlphaBlue);
}
.rating-btns button:hover{
  background-color: var(--Orange);
}
.rating-btns button:focus{
  background-color: hsl(217, 12%, 63%);
}
/*
=================================================
thankYou section Styles
=================================================
*/
.thankYou{
    display: none;
}
.thankYou{
  text-align: center;
}
.thank-selection{
  border-radius: 20px;
 background-color: var(--AlphaBlue);
 line-height: 2.2;
 width: 65%;
 margin: auto;
}
.thank-selection p{
  color: var(--Orange);
}

/*
=================================================
footer section Styles
=================================================
*/
.attribution {
    font-size: 11px;
    text-align: center;
    color: var(--White);
  }

  .attribution a {
    color: var(--LightGrey);
  }
  @media (max-width:400px) {
    section{
      width: 80%;
    }
  }